<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wmms.mutils.mapper.TInventoryMapper">
  <resultMap id="BaseResultMap" type="com.wmms.mutils.entity.TInventory">
    <!--@mbg.generated-->
    <!--@Table t_inventory-->
    <id column="ID" jdbcType="BIGINT" property="ID" />
    <result column="Ware" jdbcType="BIGINT" property="ware" />
    <result column="Quantity" jdbcType="INTEGER" property="quantity" />
    <result column="Shelve" jdbcType="BIGINT" property="shelve" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, Ware, Quantity, Shelve
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from t_inventory
    where ID = #{ID,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from t_inventory
    where ID = #{ID,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wmms.mutils.entity.TInventory">
    <!--@mbg.generated-->
    insert into t_inventory (ID, Ware, Quantity, 
      Shelve)
    values (#{ID,jdbcType=BIGINT}, #{ware,jdbcType=BIGINT}, #{quantity,jdbcType=INTEGER}, 
      #{shelve,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.wmms.mutils.entity.TInventory">
    <!--@mbg.generated-->
    insert into t_inventory
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ID != null">
        ID,
      </if>
      <if test="ware != null">
        Ware,
      </if>
      <if test="quantity != null">
        Quantity,
      </if>
      <if test="shelve != null">
        Shelve,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ID != null">
        #{ID,jdbcType=BIGINT},
      </if>
      <if test="ware != null">
        #{ware,jdbcType=BIGINT},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="shelve != null">
        #{shelve,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wmms.mutils.entity.TInventory">
    <!--@mbg.generated-->
    update t_inventory
    <set>
      <if test="ware != null">
        Ware = #{ware,jdbcType=BIGINT},
      </if>
      <if test="quantity != null">
        Quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="shelve != null">
        Shelve = #{shelve,jdbcType=BIGINT},
      </if>
    </set>
    where ID = #{ID,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wmms.mutils.entity.TInventory">
    <!--@mbg.generated-->
    update t_inventory
    set Ware = #{ware,jdbcType=BIGINT},
      Quantity = #{quantity,jdbcType=INTEGER},
      Shelve = #{shelve,jdbcType=BIGINT}
    where ID = #{ID,jdbcType=BIGINT}
  </update>
</mapper>