<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wmms.mutils.mapper.TMeterageMapper">
  <resultMap id="BaseResultMap" type="com.wmms.mutils.entity.TMeterage">
    <!--@mbg.generated-->
    <!--@Table t_meterage-->
    <id column="ID" jdbcType="BIGINT" property="ID" />
    <result column="Ware" jdbcType="BIGINT" property="ware" />
    <result column="ProductionNumber" jdbcType="VARCHAR" property="productionNumber" />
    <result column="CertificateNumber" jdbcType="VARCHAR" property="certificateNumber" />
    <result column="Accuracy" jdbcType="VARCHAR" property="accuracy" />
    <result column="ValidityPeriod" jdbcType="INTEGER" property="validityPeriod" />
    <result column="Level" jdbcType="VARCHAR" property="level" />
    <result column="CurrentInspectionDate" jdbcType="TIMESTAMP" property="currentInspectionDate" />
    <result column="MeterageNumber" jdbcType="VARCHAR" property="meterageNumber" />
    <result column="UsingPlace" jdbcType="VARCHAR" property="usingPlace" />
    <result column="State" jdbcType="OTHER" property="state" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, Ware, ProductionNumber, CertificateNumber, Accuracy, ValidityPeriod, `Level`, 
    CurrentInspectionDate, MeterageNumber, UsingPlace, `State`
  </sql>
  <select id="selectByExample" parameterType="com.wmms.mutils.entity.TMeterageExample" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_meterage
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from t_meterage
    where ID = #{ID,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from t_meterage
    where ID = #{ID,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.wmms.mutils.entity.TMeterageExample">
    <!--@mbg.generated-->
    delete from t_meterage
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wmms.mutils.entity.TMeterage">
    <!--@mbg.generated-->
    insert into t_meterage (ID, Ware, ProductionNumber, 
      CertificateNumber, Accuracy, ValidityPeriod, 
      `Level`, CurrentInspectionDate, MeterageNumber, 
      UsingPlace, `State`)
    values (#{ID,jdbcType=BIGINT}, #{ware,jdbcType=BIGINT}, #{productionNumber,jdbcType=VARCHAR}, 
      #{certificateNumber,jdbcType=VARCHAR}, #{accuracy,jdbcType=VARCHAR}, #{validityPeriod,jdbcType=INTEGER}, 
      #{level,jdbcType=VARCHAR}, #{currentInspectionDate,jdbcType=TIMESTAMP}, #{meterageNumber,jdbcType=VARCHAR}, 
      #{usingPlace,jdbcType=VARCHAR}, #{state,jdbcType=OTHER})
  </insert>
  <insert id="insertSelective" parameterType="com.wmms.mutils.entity.TMeterage">
    <!--@mbg.generated-->
    insert into t_meterage
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ID != null">
        ID,
      </if>
      <if test="ware != null">
        Ware,
      </if>
      <if test="productionNumber != null">
        ProductionNumber,
      </if>
      <if test="certificateNumber != null">
        CertificateNumber,
      </if>
      <if test="accuracy != null">
        Accuracy,
      </if>
      <if test="validityPeriod != null">
        ValidityPeriod,
      </if>
      <if test="level != null">
        `Level`,
      </if>
      <if test="currentInspectionDate != null">
        CurrentInspectionDate,
      </if>
      <if test="meterageNumber != null">
        MeterageNumber,
      </if>
      <if test="usingPlace != null">
        UsingPlace,
      </if>
      <if test="state != null">
        `State`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ID != null">
        #{ID,jdbcType=BIGINT},
      </if>
      <if test="ware != null">
        #{ware,jdbcType=BIGINT},
      </if>
      <if test="productionNumber != null">
        #{productionNumber,jdbcType=VARCHAR},
      </if>
      <if test="certificateNumber != null">
        #{certificateNumber,jdbcType=VARCHAR},
      </if>
      <if test="accuracy != null">
        #{accuracy,jdbcType=VARCHAR},
      </if>
      <if test="validityPeriod != null">
        #{validityPeriod,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        #{level,jdbcType=VARCHAR},
      </if>
      <if test="currentInspectionDate != null">
        #{currentInspectionDate,jdbcType=TIMESTAMP},
      </if>
      <if test="meterageNumber != null">
        #{meterageNumber,jdbcType=VARCHAR},
      </if>
      <if test="usingPlace != null">
        #{usingPlace,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=OTHER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wmms.mutils.entity.TMeterageExample" resultType="java.lang.Long">
    <!--@mbg.generated-->
    select count(*) from t_meterage
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbg.generated-->
    update t_meterage
    <set>
      <if test="record.ID != null">
        ID = #{record.ID,jdbcType=BIGINT},
      </if>
      <if test="record.ware != null">
        Ware = #{record.ware,jdbcType=BIGINT},
      </if>
      <if test="record.productionNumber != null">
        ProductionNumber = #{record.productionNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.certificateNumber != null">
        CertificateNumber = #{record.certificateNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.accuracy != null">
        Accuracy = #{record.accuracy,jdbcType=VARCHAR},
      </if>
      <if test="record.validityPeriod != null">
        ValidityPeriod = #{record.validityPeriod,jdbcType=INTEGER},
      </if>
      <if test="record.level != null">
        `Level` = #{record.level,jdbcType=VARCHAR},
      </if>
      <if test="record.currentInspectionDate != null">
        CurrentInspectionDate = #{record.currentInspectionDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.meterageNumber != null">
        MeterageNumber = #{record.meterageNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.usingPlace != null">
        UsingPlace = #{record.usingPlace,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null">
        `State` = #{record.state,jdbcType=OTHER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbg.generated-->
    update t_meterage
    set ID = #{record.ID,jdbcType=BIGINT},
      Ware = #{record.ware,jdbcType=BIGINT},
      ProductionNumber = #{record.productionNumber,jdbcType=VARCHAR},
      CertificateNumber = #{record.certificateNumber,jdbcType=VARCHAR},
      Accuracy = #{record.accuracy,jdbcType=VARCHAR},
      ValidityPeriod = #{record.validityPeriod,jdbcType=INTEGER},
      `Level` = #{record.level,jdbcType=VARCHAR},
      CurrentInspectionDate = #{record.currentInspectionDate,jdbcType=TIMESTAMP},
      MeterageNumber = #{record.meterageNumber,jdbcType=VARCHAR},
      UsingPlace = #{record.usingPlace,jdbcType=VARCHAR},
      `State` = #{record.state,jdbcType=OTHER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wmms.mutils.entity.TMeterage">
    <!--@mbg.generated-->
    update t_meterage
    <set>
      <if test="ware != null">
        Ware = #{ware,jdbcType=BIGINT},
      </if>
      <if test="productionNumber != null">
        ProductionNumber = #{productionNumber,jdbcType=VARCHAR},
      </if>
      <if test="certificateNumber != null">
        CertificateNumber = #{certificateNumber,jdbcType=VARCHAR},
      </if>
      <if test="accuracy != null">
        Accuracy = #{accuracy,jdbcType=VARCHAR},
      </if>
      <if test="validityPeriod != null">
        ValidityPeriod = #{validityPeriod,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        `Level` = #{level,jdbcType=VARCHAR},
      </if>
      <if test="currentInspectionDate != null">
        CurrentInspectionDate = #{currentInspectionDate,jdbcType=TIMESTAMP},
      </if>
      <if test="meterageNumber != null">
        MeterageNumber = #{meterageNumber,jdbcType=VARCHAR},
      </if>
      <if test="usingPlace != null">
        UsingPlace = #{usingPlace,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        `State` = #{state,jdbcType=OTHER},
      </if>
    </set>
    where ID = #{ID,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wmms.mutils.entity.TMeterage">
    <!--@mbg.generated-->
    update t_meterage
    set Ware = #{ware,jdbcType=BIGINT},
      ProductionNumber = #{productionNumber,jdbcType=VARCHAR},
      CertificateNumber = #{certificateNumber,jdbcType=VARCHAR},
      Accuracy = #{accuracy,jdbcType=VARCHAR},
      ValidityPeriod = #{validityPeriod,jdbcType=INTEGER},
      `Level` = #{level,jdbcType=VARCHAR},
      CurrentInspectionDate = #{currentInspectionDate,jdbcType=TIMESTAMP},
      MeterageNumber = #{meterageNumber,jdbcType=VARCHAR},
      UsingPlace = #{usingPlace,jdbcType=VARCHAR},
      `State` = #{state,jdbcType=OTHER}
    where ID = #{ID,jdbcType=BIGINT}
  </update>
</mapper>