<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wmms.mutils.mapper.TWareMapper">
  <resultMap id="BaseResultMap" type="com.wmms.mutils.entity.TWare">
    <!--@mbg.generated-->
    <!--@Table t_ware-->
    <id column="ID" jdbcType="BIGINT" property="ID" />
    <result column="Name" jdbcType="VARCHAR" property="name" />
    <result column="Model" jdbcType="VARCHAR" property="model" />
    <result column="Kind" jdbcType="BIGINT" property="kind" />
    <result column="Unit" jdbcType="BIGINT" property="unit" />
    <result column="Company" jdbcType="BIGINT" property="company" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, `Name`, Model, Kind, Unit, Company
  </sql>
  <select id="selectByExample" parameterType="com.wmms.mutils.entity.TWareExample" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_ware
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from t_ware
    where ID = #{ID,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from t_ware
    where ID = #{ID,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.wmms.mutils.entity.TWareExample">
    <!--@mbg.generated-->
    delete from t_ware
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="ID" keyProperty="ID" parameterType="com.wmms.mutils.entity.TWare" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_ware (`Name`, Model, Kind, 
      Unit, Company)
    values (#{name,jdbcType=VARCHAR}, #{model,jdbcType=VARCHAR}, #{kind,jdbcType=BIGINT}, 
      #{unit,jdbcType=BIGINT}, #{company,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" keyColumn="ID" keyProperty="ID" parameterType="com.wmms.mutils.entity.TWare" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_ware
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `Name`,
      </if>
      <if test="model != null">
        Model,
      </if>
      <if test="kind != null">
        Kind,
      </if>
      <if test="unit != null">
        Unit,
      </if>
      <if test="company != null">
        Company,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="kind != null">
        #{kind,jdbcType=BIGINT},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=BIGINT},
      </if>
      <if test="company != null">
        #{company,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wmms.mutils.entity.TWareExample" resultType="java.lang.Long">
    <!--@mbg.generated-->
    select count(*) from t_ware
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbg.generated-->
    update t_ware
    <set>
      <if test="record.ID != null">
        ID = #{record.ID,jdbcType=BIGINT},
      </if>
      <if test="record.name != null">
        `Name` = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.model != null">
        Model = #{record.model,jdbcType=VARCHAR},
      </if>
      <if test="record.kind != null">
        Kind = #{record.kind,jdbcType=BIGINT},
      </if>
      <if test="record.unit != null">
        Unit = #{record.unit,jdbcType=BIGINT},
      </if>
      <if test="record.company != null">
        Company = #{record.company,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbg.generated-->
    update t_ware
    set ID = #{record.ID,jdbcType=BIGINT},
      `Name` = #{record.name,jdbcType=VARCHAR},
      Model = #{record.model,jdbcType=VARCHAR},
      Kind = #{record.kind,jdbcType=BIGINT},
      Unit = #{record.unit,jdbcType=BIGINT},
      Company = #{record.company,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wmms.mutils.entity.TWare">
    <!--@mbg.generated-->
    update t_ware
    <set>
      <if test="name != null">
        `Name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        Model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="kind != null">
        Kind = #{kind,jdbcType=BIGINT},
      </if>
      <if test="unit != null">
        Unit = #{unit,jdbcType=BIGINT},
      </if>
      <if test="company != null">
        Company = #{company,jdbcType=BIGINT},
      </if>
    </set>
    where ID = #{ID,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wmms.mutils.entity.TWare">
    <!--@mbg.generated-->
    update t_ware
    set `Name` = #{name,jdbcType=VARCHAR},
      Model = #{model,jdbcType=VARCHAR},
      Kind = #{kind,jdbcType=BIGINT},
      Unit = #{unit,jdbcType=BIGINT},
      Company = #{company,jdbcType=BIGINT}
    where ID = #{ID,jdbcType=BIGINT}
  </update>
</mapper>